services:
  - type: web
    name: dieteticienne-dijon
    runtime: node
    buildCommand: npm run build:render
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/health
